/*
  CSS Reset for <table>
*/
.clear-user-agent-styles table,
.clear-user-agent-styles thead,
.clear-user-agent-styles tbody,
.clear-user-agent-styles tfoot,
.clear-user-agent-styles tr,
.clear-user-agent-styles th,
.clear-user-agent-styles td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
th,
td {
  display: inline;
}

/* Variables */
:root {
  font-size: 18px;
  --border: 1px solid #e1e1e1;
}

table {
  width: 100%;
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2em 1fr;
  padding: 0.5em 0;
}

td {
  margin: 0 0.5em;
}

thead tr {
  border-top: var(--border);
  border-bottom: var(--border);
  background-color: #f5f5f5;
}

thead tr td {
  user-select: none;
  cursor: pointer;
}

tbody tr {
  border-bottom: var(--border);
}

tbody tr td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody tr td:last-child {
  font-weight: bold;
}

.home {
  padding: 0 48px;
  min-height: 100%;
  /* width: 100%; */
}

.logoContainer {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer img {
  width: 150px;
}

.counterSpan {
  font-size: 1.75rem;
  font-weight: bolder;
}

@media (max-width: 720px) {
  table {
    color: red;
  }
}
